.cart-item-cont{
	width:15% !important;
}
.btn-turquoise, .btn-turquoise:hover{
	background-color: #79e5c5 !important;
}
#btn-checkout{
	background-color: #79e5c5 !important;
	background-image:none !important;
}
.dd-select{
	background: white !important;
}
@media (max-width:360px) {
	.my-account-tab td:before, .cart-summary td:before{
		top:16px !important;
	}
	.cart-summary #coupon-code button{
		width:100%;
		padding:5px;
	}
	.cart-item-cont{
		width:50% !important;
	}
	.cart-summary td:nth-of-type(2) p:first-child{
		margin-top: 25px;
	}
}

@media (max-width: 768px) and (min-width: 361px) {
	table.in-cart tr td.text-center, table.in-cart tr td.text-right {
		border-bottom: 0px !important;
		float: left;
		margin-left: 8px;
		width: 48% !important;
	}
	.checkout .main-content .block-forms .pull-right .boxed .btn{
		margin-left: 12px;
		margin-bottom: 12px;
	}
	.checkout .main-content .block-forms .pull-right .boxed{
		padding-top:5px !important;
	}
}