/** GLOBAL **/

/* ddslick */
a.dd-selected {
	padding: 0;
	background: white;
	color: #373737 !important;
}

label.dd-selected-text {
	margin: 5px 5px 5px 10px;
}

/**typography**/
.strike{
	text-decoration:line-through;
}
.icon{
	vertical-align: middle;
	display:inline-block;
	position:relative;
	background:url(../images/sprite.png) no-repeat;
}
#nav-toggle .icon {
	background: url(../images/mobile-nav-bg2.png) no-repeat !important;
	background-size: 32px !important;
}
#mobile-nav{
	transition: .15s all;
	-webkit-transition: .15s all;
	-moz-transition: .15s all;
}
.windowshade{
	transition: 2s all;
	-webkit-transition: 2s all;
	-moz-transition: 2s all;
}
h2.contact-number{
	margin-left:10px;
}
#contact-item-popover .popover-content > a{
	color:#333333;
}
#cart-popover{
	right:0px !important;
	left:auto !important;
}
.block-advanced-search{
	height: 47px;
    overflow: hidden;
    transition: 0.75s all;
    -webkit-transition: 0.75s all;
    -moz-transition: 0.75s all;
}
.show-advanced-search-option-btn span{
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transition: 0.75s all;
    -webkit-transition: 0.75s all;
    -moz-transition: 0.75s all;
}
.show-advanced-search-option-btn span.show-more-options {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}
.block-advanced-search.show-more-options{
	height:140px;
}
.mobile-select-settings .clearfix{
	margin:15px 0px;
	line-height:28px;
}
.mobile-select-settings select{
	padding:5px 0px;

}
.mobile-item-pager{
	  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 99;
  background-color: #f5f5f5;
  padding: 10px;
  line-height: 30px;
  border-top:1px solid #dddddd;
}
@media (max-width:768px){
	.product-filter-sidebar .block{
		margin:0px !important;
	}
	.block-advanced-search.show-more-options{
		height:330px;
	}
}
@media (min-width:401px) and (max-width:768px){
	#contact-item-popover{
		text-align: center;
		left: 50% !important;
		top: 50% !important;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		width: 85%;
		padding-bottom:20px;
		position:fixed;
		z-index: 99999999;
	}
	#contact-item-popover .arrow{
		display:none;
	}
	#contact-item-popover .contact-popup-close-btn{
		font-size: 24px;
		position: absolute;
		right: -15px;
		background: black;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		color: white;
		line-height: 28px;
		top: -15px;
	}
	#contact-item-popover h3{
		border-bottom:2px solid #ac47ad;
		padding:10px 0px;
		margin-bottom:20px;
	}
	#contact-item-popover .contact-item-popover{
		padding:20px;
	}
	#contact-item-popover .contact-number-btn{
		padding:10px 20px;
		background:#ac47ad;
		border:0px;
		width:100%;
		border-radius:3px;
		color:white !important;
	}
	#contact-item-popover{
		display:block;
	}
	.contact-item-popover-contents{
		background: white;
		padding: 10px;
		margin-top: 10px;
		position:absolute;
		width:120px;

	}
	.contact-item-popover-contents > a{
		color:#333333;
	}
	.contact-item-popover-contents.showtooltip{
		display:block;
	}
	#mobile-nav-control.showtooltip{
		display:block !important;
		background: rgba(0,0,0,.7);
		opacity: 1;
	}
	a#nav-toggle {
		width: 55px !important;
		height: 49px !important;
	}
	#top_header{
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
		transform: translate3d(0px ,0px, 1px);
		-webkit-transform: translate3d(0px, 0px, 0px);
		-moz-transform: translate3d(0px, 0px, 0px);
	}
	#top_header.move-right{
		transform: translate3d(50%, 0px, 0px);
		-webkit-transform: translate3d(50%, 0px, 0px);
		-moz-transform: translate3d(50%, 0px, 0px);
	}
	#mobile-nav{
		display:block !important;
		transform: translate3d(-100% ,0px, 0px);
		-webkit-transform: translate3d(-100%, 0px, 0px);
		-moz-transform: translate3d(-100%, 0px, 0px);
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
	}
	#mobile-nav.move-right{
		transform: translate3d(0% ,0px, 0px);
		-webkit-transform: translate3d(0%, 0px, 0px);
		-moz-transform: translate3d(0%, 0px, 0px);
		
	}
	.mm-page{
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
		background:white;
	}
	.mm-page.move-right{
		transform: translate3d(50% , 0px , 0px);
		-webkit-transform: translate3d(50% , 0px , 0px);
		-moz-transform: translate3d(50% , 0px , 0px);
	}
	.windowshade{
		position:relative;
		transform: translate3d(0px ,0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
		-moz-transform: translate3d(0px, 0px, 0px);
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
	}
	.windowshade.move-right{
		transform: translate3d(50% , 0px , 0px);
		-webkit-transform: translate3d(50% , 0px , 0px);
		-moz-transform: translate3d(50% , 0px , 0px);
	}
	.mob-form-body{
		height:130px;
		overflow:hidden;
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
	}
	.mob-form-body.active{
		height:580px;
	}
	form.diamond_filter ul.types li{
		margin-top:5px !important;
	}
	a.show-more img{
		transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		width:15px;
		margin-left:10px;
	}
	a.show-less img{
		width:15px;
		margin-left:10px;
		margin-top: -3px;
	}
	a.show-less{
		display:none;
	}
	.mobile-nav-control{
		position: fixed;
		width: 100%;
		height: 999px;
		z-index: 999;
		right:0px;
		background:black;
		opacity:0;
		top:50px;
    	display:none;
	}
	.mobile-nav-control.move-right{
		display:block;
	}
	#mobile-nav .mm-list{
		padding-top:0px;
	}
}

@media (min-width:401px) and (max-width:568px){
	.mob-form-body {
		height: 122px;
	}

}


@media (min-width:360px) and (max-width:400px){
	#mobile-nav{
		width:66% !important;
	}

}
@media(max-width:400px){
	#contact-item-popover{
		text-align: center;
		left: 50% !important;
		top: 50% !important;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		width: 85%;
		padding-bottom:20px;
		position:fixed;
		z-index: 99999999;
	}
	#contact-item-popover .arrow{
		display:none;
	}
	#contact-item-popover .contact-popup-close-btn{
		font-size: 24px;
		position: absolute;
		right: -15px;
		background: black;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		color: white;
		line-height: 28px;
		top: -15px;
	}
	#contact-item-popover h3{
		border-bottom:2px solid #ac47ad;
		padding:10px 0px;
		margin-bottom:20px;
	}
	#contact-item-popover .contact-item-popover{
		padding:20px;
	}
	#contact-item-popover .contact-number-btn{
		padding:10px 20px;
		background:#ac47ad;
		border:0px;
		width:100%;
		border-radius:3px;
		color:white !important;
	}
	.mobile-nav-control.search-overlay{
		display:block !important;
		top:107px !important;
	}
	#mobile-nav-control.showtooltip{
		display:block !important;
		background: rgba(0,0,0,.7);
		opacity: 1;
	}
	.mobile-sorting{
		top:50% !important;
	}
	body > div.mm-page > div.container > div.module.mod-diamond-search.hidden-sm > form > div.form-body.clearfix.mob-form-body.active > div > div.form-group.search-diamond-button > p {
		text-align: center !important;
	}
	body.move-right{
		position:fixed;
	}

	.mm-menu > .mm-list{
		padding-top:0px !important;
	}
	.mm-page, .mm-fixed-top, .mm-fixed-bottom, .mm-menu.mm-horizontal > .mm-panel{
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
        -webkit-transition-delay: 2s; /* Safari */
    	transition-delay: 2s;
	}
	#mobile-nav{
		display:block !important;
		transform: translate3d(-100% ,0px, 0px);
		-webkit-transform: translate3d(-100%, 0px, 0px);
		-moz-transform: translate3d(-100%, 0px, 0px);
		transition: .2s transform ease !important;
		-webkit-transition: .2s -webkit-transform ease !important;
		-moz-transition: .2s -moz-transform ease !important;
		
	}
	#mobile-nav.move-right{
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
		transform: translate3d(0% ,0px, 0px);
		-webkit-transform: translate3d(0%, 0px, 0px);
		-moz-transform: translate3d(0%, 0px, 0px);
		
	}
	.mm-page{
		background:white;
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
	}
	.mm-page.move-right{
		transform: translate3d(240px, 0px, 0px);
		-webkit-transform: translate3d(240px, 0px, 0px);
		-moz-transform: translate3d(240px, 0px, 0px);
	}
	.windowshade{
		transform: translate3d(0px ,0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
		-moz-transform: translate3d(0px, 0px, 0px);
		transition: .2s all ease;
		-webkit-transition: .2s all ease;
		-moz-transition: .2s all ease;
		position:relative;
	}
	.windowshade.move-right{
		transform: translate3d(240px, 0px, 0px);
		-webkit-transform: translate3d(240px, 0px, 0px);
		-moz-transform: translate3d(240px, 0px, 0px);
	}
	#top_header{
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
		transform: translate3d(0px ,0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
		-moz-transform: translate3d(0px, 0px, 0px);
	}
	#top_header.move-right{
		transform: translate3d(240px, 0px, 0px);
		-webkit-transform: translate3d(240px, 0px, 0px);
		-moz-transform: translate3d(240px, 0px, 0px);
	}
	.mobile-nav-control{
		position: fixed;
		width: 100%;
		height: 999px;
		z-index: 999;
		right:0px;
		background:black;
		opacity:0;
		top:50px;
    	display:none;
	}
	.mobile-nav-control.move-right{
		display:block;
	}

	.mob-form-body{
		height:120px;
		overflow:hidden;
		transition: .2s all ease !important;
		-webkit-transition: .2s all ease !important;
		-moz-transition: .2s all ease !important;
	}
	.mob-form-body.active{
		height:675px;
	}
	form.diamond_filter ul.types li{
		margin-top:5px !important;
	}
	a.show-more img{
		transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		width:15px;
		margin-left:10px;
	}
	a.show-less img{
		width:15px;
		margin-left:10px;
		margin-top: -3px;
	}
	a.show-less{
		display:none;
	}

	
	
}

.account .icon {
	background: none !important;
}

.mobile-search a {
	height: 34px !important;
	width: 20px !important;
}

.mobile-search a .icon {
	background: url("../images/search-mobile-icon.png") no-repeat !important;
}

.icon-gt{
	width:7px;
	height:10px;
	background-position: -143px -46px;
}
.icon-mdiamond-rings{
	width:18px;
	height:22px;
	background-position:-138px -190px;
}
.active .icon-mdiamond-rings{
	background-position:-107px -190px;
}
.icon-mgem-type{
	width:32px;
	height:22px;
	background-position: -132px -212px;	
}
.active .icon-mgem-type{
	background-position: -100px -212px;
}
.icon-mmetal-type{
	width:20px;
	height:22px;
	background-position: -138px -234px;
}
.active .icon-mmetal-type{
	background-position: -106px -234px;
}
.icon-mprice-range{
	width: 22px;
	height:22px;
	background-position: -137px -256px;
}
.active .icon-mprice-range{
	background-position: -104px -256px;
}

.lowprice-ribbon{
	width:99px;
	height:99px;
	background-position: -148px -45px;
}
.icon-msort{
	width:10px;
	height:11px;
	background-position: -106px -179px;
}
.icon-mfilter{
	width:10px;
	height:11px;
	background-position:-117px -179px;
}
.icon-sample-shape{
	width:20px;
	height:20px;
	background-position: -228px 0;
}
.icon.icon-shopping-cart{
	width:42px;
	height:39px;
	background-position: 0 -49px;
}
.icon-first{
	width:8px;
	height:13px;
	background-position:-96px -44px;
}
.icon-prev{
	width:15px;
	height:13px;
	background-position: -104px -44px;
}
.icon-next{
	width:15px;
	height:13px;
	background-position: -120px -44px;
}
.icon-last{
	width:8px;
	height:13px;
	background-position: -135px -44px;
}
.icon-gem{
	width:15px;
	height:15px;
}
.icon-blue-topaz{background-position: -183px 0;}
.icon-green-amethyst{background-position:-198px 0;}
.icon-peridot{ background-position: -213px 0;}
.icon-pink-topaz{background-position:-183px -15px;}
.icon-garnet{ background-position:-198px -15px;}
.icon-aquamarine{ background-position:-213px -15px;}
.icon-amethyst{background-position:-183px -30px;}
.icon-citrine{ background-position:-198px -30px;}
.icon-smokey-quartz{ background-position:-213px -30px;}
.icon-mfb{
	width:15px;
	height:15px;
	background-position: -228px -20px;
}
.icon-mtwitter{
	width:19px;
	height:15px;
	background-position: -243px -20px;
}
.icon-mpinterest{
	width:15px;
	height:15px;
	background-position: -262px -20px;
}
.icon-memail{
	height:15px;
	width:22px;
	background-position: -277px -20px; 
}

.clear{clear:both;}
.btn.btn-transparent,
.btn.btn-transparent:hover,
.btn.btn-transparent:active,
.btn.btn-transparent.active{
	background:none;
	-moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow:         none !important;
}
.btn-gray{
	-webkit-box-shadow: inset 0 2px rgba(255,255,255,.25);
	-moz-box-shadow: inset 0 2px rgba(255,255,255,.25);
	box-shadow: inset 0 2px rgba(255,255,255,.25);
	border: solid 1px #e2e2e2;
	background-image: -webkit-linear-gradient(bottom, #f1f1f1, #f5f5f5);
	background-image: -moz-linear-gradient(bottom, #f1f1f1, #f5f5f5);
	background-image: -o-linear-gradient(bottom, #f1f1f1, #f5f5f5);
	background-image: linear-gradient(to top, #f1f1f1, #f5f5f5);
	color:#373737;
}
.btn-green{
	background-color: #626262;
	-webkit-box-shadow: inset 0 2px rgba(255,255,255,.25);
	-moz-box-shadow: inset 0 2px rgba(255,255,255,.25);
	box-shadow: inset 0 2px rgba(255,255,255,.25);
	background-image: -webkit-linear-gradient(bottom, #3acfa3, #38c9a5);
	background-image: -moz-linear-gradient(bottom, #3acfa3, #38c9a5);
	background-image: -o-linear-gradient(bottom, #3acfa3, #38c9a5);
	background-image: linear-gradient(to top, #3acfa3, #38c9a5);
	color:#fff;
	font-weight: bold;
}
.btn-green:hover{
	color:#fff;
}
.btn-solid-green{
	background:#39cba4;
	border-color:#39cba4;
	font-family:$brandon-bold;
}
.btn-solid-green:hover,
.btn-solid-green:active{
	background:#3ee1b7;
	border-color:#3ee1b7;
}
.icon-chevron-down{width:15px;height:9px;background-position: -143px -34px;}
.mt20{margin-top:20px;}
.btn-default{
	color: #373737;
	background:#626262;
	-webkit-box-shadow: inset 0 2px rgba(255,255,255,.25);
	-moz-box-shadow: inset 0 2px rgba(255,255,255,.25);
	box-shadow: inset 0 2px rgba(255,255,255,.25);
	border: solid 1px #e2e2e2;
	background-image: -webkit-linear-gradient(bottom, #f1f1f1, #f5f5f5);
	background-image: -moz-linear-gradient(bottom, #f1f1f1, #f5f5f5);
	background-image: -o-linear-gradient(bottom, #f1f1f1, #f5f5f5);
	background-image: linear-gradient(to top, #f1f1f1, #f5f5f5);
}
.btn-primary-gradient,
.btn-primary-gradient:hover,
.btn-primary-gradient:active{
	font-family:$brandon-bold;
	@include border-radius(5px);
	background-color: #fff;
	/*-webkit-box-shadow: inset 0 2px rgba(255,255,255,.25);
	-moz-box-shadow: inset 0 2px rgba(255,255,255,.25);
	box-shadow: inset 0 2px rgba(255,255,255,.25);*/
	background-image: -webkit-linear-gradient(bottom, #803e82, #ac47ad);
	background-image: -moz-linear-gradient(bottom, #803e82, #ac47ad);
	background-image: -o-linear-gradient(bottom, #803e82, #ac47ad);
	background-image: linear-gradient(to top, #803e82, #ac47ad);
	color:#fff;
}
.btn-primary-gradient:active,
.btn-primary-gradient:hover{
	background-color: #fff;
	-webkit-box-shadow: inset 0 2px rgba(255,255,255,.25);
	-moz-box-shadow: inset 0 2px rgba(255,255,255,.25);
	box-shadow: inset 0 2px rgba(255,255,255,.25);
	background-image: -webkit-linear-gradient(bottom, #803e82, #ac47ad);
	background-image: -moz-linear-gradient(bottom, #803e82, #ac47ad);
	background-image: -o-linear-gradient(bottom, #803e82, #ac47ad);
	background-image: linear-gradient(to top, #803e82, #ac47ad);
}
.module{
	margin-bottom:20px;
	.mod-hd{
		border-bottom:1px solid #cccccc;
		font-size: 16px;
		color: #575757;
		font-style: italic;
		padding:10px 0;
		text-align: center;
	}
	.mod-bd{
		padding:10px 0;
	}
}
.mod-diamond-search {
	/*background: #efefef;*/
}

.mod-diamond-search .form-body {
	padding-left: 78px;
	padding-right: 78px;
}
.block{
	margin-bottom:20px;
	margin-top:10px;
	.block-head{
		border-bottom:1px solid #ccc;
		font-size: 16px;
		font-style: italic;
		font-weight: normal;
		padding:10px 0;
	}
	.head-wrap{
		border-bottom:1px solid #ccc;
		.block-head{
			border-bottom:none !important;
		}
		.glyphicon{
			margin-top:10px;
		}
	}
	.block-body{
		padding:10px 0;
	}
	.block-body.data{
		p{
			margin:0 0 5px 0;
			font-size: 12px;
			span.field{
				font-style:italic;
				display: inline-block;
				width: 70%;
			}
		}
	}
}


#product-filter-sidebar > div:nth-child(1) {
	margin-top: 0;
}
.btn-primary-gradient:hover{
	color:#fff;
}
.btn-lg{
	font-size: 16px;
}
.white{
	color:#fff !important;
}
.sprite{
	background:url(../images/sprite.png) no-repeat;
}
.ratings{
	margin:5px 0;
	.stars{
		height: 14px;
		width: 87px;
		background:url(../images/sprite.png) no-repeat -96px 0;
		position:relative;
		.rate{
			height: 14px;
			position:absolute;
			left: 0;
			background:url(../images/sprite.png) no-repeat -96px -16px;
		}
	}
}
.ribbon{
	height:60px;
	width:60px;
	background:#cecece;
	@include border-radius(70px);
	display:inline-block;
	color:#fff;
	text-align: center;
	vertical-align:middle;
	line-height:70px;
	font-family:$brandon-bold;
	font-size: 1em;
	em{
		display: inline-block;
		vertical-align: middle;
		font-style: normal;
		line-height: 16px;
		margin-bottom: 9px;
	}
}
.ribbon.active{
	background: #fd4b6d;
}

.centered-tabs{
	text-align: center;
	border-bottom:none;
	margin-bottom:20px;
	> li{
		float:none;
		display: inline-block;
		> a{
			color: #6A6A6A;
		}
		> a:hover{
			color: #6a6a6a;
		}
		> a,
		> a:hover,
		> a:active{
			border:none;
			@include border-radius(0);
			background:none;
		}
	}
	> li.active{
		> a{
			color: #6a6a6a;
			text-decoration: underline;
		}
		> a,
		> a:hover,
		> a:active{
			border:none;
		}
	}
	> li:first-child{
		border-right:1px solid #b9b9b9;
	}
}

.col-2 {
  width: 48.41269841269841%;
  float: left;
  position: relative;
}
.col-2.col-2-1 {
  margin: 0;
}
.col-2.col-2-2 {
  margin: 0 0 0 3.1746031746031744%;
}

/** HEADER **/
.top-links{
	background:#ffffff;
	font-size: 13px;
	li{
		list-style-type:none;
		float:left;
		a{
			color: #928b92;
			font-style: normal;
			display: block;
			padding:4px 14px;
		}
	}
	li:last-child{
		a{
			padding-right:0;
		}
	}
}

.links-wrap {
	border-bottom: 1px solid #dadddf;
	margin-bottom: 8px;
}

.header-phone {
	color: #928B92;
	font-style: normal;
	display: block;
	padding: 4px 14px;
}

.top_primary{
	background: #ffffff;
	color:#fff;
	.container{
		position: relative;
	}
	a{
		color:#fff;
	}
	#logo{
		float:left;
		vertical-align: middle;
		margin-right: 10px;
		img{
			display: block;
		}

	}
	.store-info{
		float:left;
		width: 73%;
		font-family: $museo-500;
		margin-top:15px;
		ul{
			list-style-type: none;
			margin:10px 0;
			padding:0;
			font-size: 13px;
			li{
				display: inline-block;
				padding:0;
				margin:0 8px 0 0;
				a{
					color: #fffea6;
				}
			}
		}
	}

	.search-form{
		background: #dfdfdf;
		border: 1px solid #DFDFDF;
		float: right;
		input,
		.btn{
			background:none;
			color: #8b8b8b;
			@include border-radius(0);
		}
		.form-control{
			border:none;
			color:#6f6f6f;
			width:388px;
			height: 38px;
			font-size: .90em;
		}
		.btn{
			color: #fff;
			height: 28px;
			padding:3px 12px;
		}
		input:focus{
			outline:none;
			box-shadow:none;
		}
		::-webkit-input-placeholder {
		   color: #8b8b8b;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #8b8b8b;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #8b8b8b;  
		}

		:-ms-input-placeholder {  
		   color: #8b8b8b;  
		}
	}
	.search-form.active{
		background:lighten(#dfdfdf, 15%);
		-webkit-transition: background-color 300ms linear;
	    -moz-transition: background-color 300ms linear;
	    -o-transition: background-color 300ms linear;
	    -ms-transition: background-color 300ms linear;
	    transition: background-color 300ms linear;
	}

	.top-columns,
	.top-columns_mobile{
		margin-top:23px;
		float:right;
		li{
			list-style-type:none;
			position:relative;
			float:left;
			text-align:right;
			width: 36px;
			font-family: $museo-500;
			font-size: 14px;
			color: #928B92;
			margin-left: 28px;
			a{
				color: #928B92;	
			}
			h2{
				font-size:12px;
				color: #fff;
				font-family: $brandon-bold;
			}
			.icon{
				position:absolute;
				top:50%;
				right: 0px;
				margin-top:-5px;
			}
		}


		li.account{
			cursor: pointer;
			.account-popover-contents{
				position:absolute;
				visibility: hidden;
			}
			width: 94px;
		}
		li.cart,
		li.mobile-cart{
			cursor:pointer;
			text-align: center;
			position:relative;
			margin-left: 28px;
			.badge{
				position:absolute;
				right:-26px;
				top:-10px;
				background:#fd4b6d;
				font-size: 16px;
				font-weight: normal;
				padding:4px 8px;
				min-width: 28px;
				@include border-radius(4px);
			}
			.icon{
				position: static;
			}
			.cart-popover-contents{
				position:absolute;
				visibility:hidden;
				left: -9999px;
			}
		}
		li.contact-item {
			margin-left: 0px;
		}
	}
}
.top_secondary{
	background:#ffffff;
	height:50px;
	#main_nav{
		font-family: $museo-500;
		text-align:left;
		font-size: 12px;
		margin-top: 1px;
		li{
			a{
				height:45px;
				line-height:50px;
				color:#575757;
				padding:0 17px;
				position:relative;
				text-transform: uppercase;
			}
			:hover{
				text-decoration:none;
			}
		}
		
	}

}
.mobile-overlay{
	display:none;
	/* visibility:hidden; */
	position:absolute;
}
#mobile-nav ul{
	list-style-type: none;
}
#mega-menu {
list-style: none;
position: relative;
padding: 0;
margin: 0;
}
#mega-menu li ul, #mega-menu .sub {
display: none;
}
#mega-menu .sub ul {
display: block;
}
#mega-menu {
width: 100%;
height: 40px;
position: relative;
}
#mega-menu li {
float: left;
margin: 0;
margin-right: 0;
padding: 0;
}
#mega-menu li:last-child {
	margin-right: 0px;
}
#mega-menu li:last-child a {
	padding-left: 15px;
	padding-right: 15px;
}

.header-contact-icon {
	display: none;
}

#mega-menu li a {
float: left;
display: block;
color: #fff;
text-decoration: none;
}
#mega-menu li.mega-hover a, #mega-menu li a:hover {
background: #fff;
color: $purple;
}
#mega-menu li .sub-container {
position: absolute;
}
#mega-menu li .sub {
background: #fff;
padding: 30px 30px;
color:#706770;
/*border:1px solid #ccc;*/
border-top:none;
}

#mega-menu .deals-collections-dd .sub-container {
	right: 0 !important;
}

#mega-menu .bracelets-dd .sub-container {
	left: 352px !important;
}
#mega-menu .engagement-wedding-dd .sub-container {
	left: 446px !important;
}


#mega-menu li .sub .mrow {
width: 100%;
/*overflow: hidden;*/
clear: both;
margin:0 !important;
}
#mega-menu li .sub{
	
}
#mega-menu li .sub li {
list-style: none;
float: none;
width: 190px;
font-size: 1em;
font-weight: normal;
}
#mega-menu li .sub li.popular-products{

}
#mega-menu li .sub li h4{
	font-family:$brandon-italic;
	font-weight:normal;
	font-size: 16px;
	color:#575757;
	text-transform:uppercase;
	margin-bottom:10px;
}
#mega-menu li .sub li.mega-hdr {
margin: 0 10px 10px 0;
float: left;
}
#mega-menu li .sub li.mega-hdr.last {
margin-right: 0;
}
#mega-menu li .sub a {
background: none;
padding:0;
color: #111;
height:auto;
line-height:inherit;
padding:5px 0;
display: block;
float: none;
font-size: 0.9em;
}
#mega-menu li .sub li.mega-hdr a.mega-hdr-a {
padding:0;
margin-bottom: 5px;
background: #6B6B6B;
text-transform: uppercase;
font-weight: bold;
color: #fff;
}
#mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
color: $purple;
}
#mega-menu .sub li.mega-hdr li a {
font-weight: normal;
}
#mega-menu .sub li.mega-hdr li a:hover {
color: $purple;
}
#mega-menu .sub ul li {
padding-right: 0;
}
#mega-menu li .sub-container.non-mega .sub {
padding: 10px;
}
#mega-menu li .sub-container.non-mega li {
padding: 0;
width: 190px;
margin: 0;
}
#mega-menu li .sub-container.non-mega li a {
padding: 7px 5px 7px 22px;
}
#mega-menu li .sub-container.non-mega li a:hover {
color: #a32403;
background: #efefef;
}
.windowshade{
	/*background: rgba(246,245,236,1);
	background: -moz-linear-gradient(left, rgba(246,245,236,1) 0%, rgba(246,245,236,1) 49%, rgba(247,244,206,1) 49%, rgba(247,244,206,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,245,236,1)), color-stop(49%, rgba(246,245,236,1)), color-stop(49%, rgba(247,244,206,1)), color-stop(100%, rgba(247,244,206,1)));
	background: -webkit-linear-gradient(left, rgba(246,245,236,1) 0%, rgba(246,245,236,1) 49%, rgba(247,244,206,1) 49%, rgba(247,244,206,1) 100%);
	background: -o-linear-gradient(left, rgba(246,245,236,1) 0%, rgba(246,245,236,1) 49%, rgba(247,244,206,1) 49%, rgba(247,244,206,1) 100%);
	background: -ms-linear-gradient(left, rgba(246,245,236,1) 0%, rgba(246,245,236,1) 49%, rgba(247,244,206,1) 49%, rgba(247,244,206,1) 100%);
	background: linear-gradient(to right, rgba(246,245,236,1) 0%, rgba(246,245,236,1) 49%, rgba(247,244,206,1) 49%, rgba(247,244,206,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5ec', endColorstr='#f7f4ce', GradientType=1 );*/
}

.windowshade {
	background: #ffffff;
}

.windowshade-promo{
	height:50px;
	overflow:hidden;
	width: 100%;
	div.left-box{
		height:50px;
		float:left;
		width: 28.75%;
		background:#f8f8f8;
		overflow: hidden;
		zoom:1;
		.large-object{
			font-size: 38px;
			color: #706770;
		}
		.left-box-body{
			overflow: hidden;
			padding-top:10px;
			line-height: 16px;
			p{
				margin:0;
			}
			.primary{
				font-size: 14px;
				color: #706770;
			}
			.secondary{
				font-size: 13px;
				color: $purple;
			}
		}
	}
	div.main-content{
		height:50px;
		background:#f7f4ce;
		float:left;
		width: 71.25%;
		padding-left:15px;
		padding-top: 10px;
		.primary{
			font-size: 16px;
			color: #fd4b6d;
			font-weight: normal;
			margin-bottom: 0;
		}
		.secondary{
			font-size: 12px;
			color: #706770;
			font-family: $museo-300;
			margin-bottom: 0;
		}
	}
}


/** FOOTER **/
.social-links{
	margin:0 0 15px 0;
	li{
		display: inline-block;
	}
	a{
		display: inline-block;
		width: 48px;
		height: 48px;
		text-indent: -9999px;
		outline: none;
		margin-right: 13px;
	}
	.facebook a{
		background-position: 0 0;
	}
	.twitter a{
		background-position: -48px 0;	
	}
	.google a{
		background-position: -48px -49px;	
	}
}
footer#main_footer{
	.main{
		background: #312a31;
		color: #a2a2a2;
		padding:35px 0;
		a{
			color: #a2a2a2;
		}
	}
	ul{
		list-style-type: none;
	}
	.affiliations{
		margin-bottom: 15px;
	}
	.affiliation-list{
		margin: 15px 0;
	}
	ul.links{
		li{
			line-height: 30px;
		}
	}
	.affiliations{
		.affiliation-list{
			li{
				display: inline-block;
				list-style-type: none;
			}
		}
	}
	.col-heading{
		margin-bottom:25px;
		font-size: 16px;
		font-family: $brandon-italic;
		color: #575757;
	}
	.subscribe-form{
		font-size: 12px;
		.form-control{
			background:#655f65;
			color: #fff;
			border:none;
			height: 28px;
			width: 156px;
			@include border-radius(2px);
		}
		::-webkit-input-placeholder {
		   color: #dfdedf;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #dfdedf;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #dfdedf;  
		}

		:-ms-input-placeholder {  
		   color: #dfdedf;
		}
		.btn{
			height: 28px;
			padding:4px 12px;
			@include border-radius(2px);
		}
	}
	.copyright{
		background:#1d191d;
		color: #a2a2a2;
		text-align: center;
		line-height: 50px;
	}
}

/* breadcrumbs */
.mod-breadcrumbs{
	border-bottom:1px solid #ccc;
	.mod-bd{
		padding:20px 0;
	}
}
ul.breadcrumbs{
	margin:0;
	padding:0;
	color:#373737;
	font-size: 16px;
	font-family:$brandon-bold;
	li{
		display: inline-block;
		a{
			color: #9d54a8;
		}
		span{
			color: #9d54a8;
			vertical-align: baseline;

		}
	}
}

.fixed-container {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #efefef;
	background-color: #fff;
	padding: 8px 15px;
	margin: 0;
	overflow: hidden;

	a {
		float: right;
		padding: 8px 16px;
		font-size: 12px;
	}
}


.btn-transparent .glyphicon {
	color: #6f6f6f !important;
}

.sign-in img {
	margin-top: 3px;
}

@media (min-width: 768px) and (max-width:1023px){
	.mob-form-body{
		height:230px;
	}
}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1025px) {
	.p-dialog-close-btn{
		display:none !important;
	}
}

@media (max-width: 1199px) {
	.top_primary .store-info {
		width: 67%;
	}
	.top_secondary #main_nav li a {
		padding: 0 7px;
	}
	#mega-menu li:last-child a {
		padding-left: 12px;
		padding-right: 12px;
	}
	.mod-diamond-search .form-body {
	padding-left: 10px;
	padding-right: 10px;
	}

}
@media (max-width: 992px) {
	#mega-menu li {
		margin-right: 15px;
	}

}



.top_secondary {
	-webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
	-moz-transition: background-color 1s;
    transition: background-color 1s;
}

.top_secondary.animate {
	background: #e5e3e3;
	position: fixed;
	width: 100%;
	top: 0;
	bottom: auto;
}

