@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}



/* mobile advanced create nav */

.floating-nav{
	position:fixed;
	bottom:-1px;
	padding:15px 10px;
	width:100%;
	background:#f5f5f5;
	border-top:1px solid #dddddd;
	z-index:9999;
}
.mobile-sort-search-container{
	position: fixed;
    bottom: 40px;
    padding: 30px 20px;
    background-color: #f5f5f5;
    width: 100%;
    z-index: 99;
}
.mobile-sort-search-container select{
	width:100%;
	padding:5px;
	margin:5px 0px 10px;
}
.mobile-advanced-create-container.show-filter .mobile-filter-search-container, 
.mobile-sort-search-container.show-filter{
	display:block !important;
	visibility: visible !important;
}
.mobile-filter-search-container{
	position:fixed;
	height:100%;
	width:100%;
	background:white;
	z-index:999;
	top:0px;
	padding-top:53px;
}
.mobile-filter-search-container .mobile-side-bar-nav ul li{
	display:block;
	padding: 15px 10px;
    border-bottom: 1px solid #dddddd;
    margin-right: 0px;
}
.mobile-filter-search-container .mobile-side-bar-nav{
	float:left;
	width:30%;
	height: 100%; 
    border-right: 1px solid #dddddd;
}
.mobile-filter-inner-container{
	float:left;
	width:70%;
	height:100%
}
.mobile-diamond-shape .shapes li{
	list-style: none;
    float: left;
    width: 33%;
  	padding: 10px;
  	margin: 10px 0px;
}
.mobile-advanced-create-container .floating-nav ul li{
	list-style:none;
	display:inline-block;
	margin-right:5px;
}
.mobile-filter-inner-container .mobile-tab{
	display:none;
}
.mobile-filter-inner-container .mobile-tab.active{
	display:block !important;
}
.mobile-tab .mobile-certificate{
	padding:20px 10px;
	border-bottom:1px solid #dddddd
}
.mobile-tab p{
	margin-bottom:0px;
	font-size:14px;
	font-family: "brandon_grotesquereg", sans-serif;
}
.mobile-range-container select, 
.mobile-range-container input{
	width: 35%;
  	margin: 5px 4%;
  	padding:5px;
}
.mobile-range-container{
	padding:10px;
}
.mobile-side-bar-nav ul li:first-child a img{
	width:40%;
}
.mobile-side-bar-nav ul li a{
	color:#888888;
	width: 75px;
  	display: block;
  	margin: 0px auto;
	.img-active{
		display:none;
	}
	img{
		margin:10px auto;
		width:30%;
		display:block;
	}
}
.mobile-side-bar-nav ul li a.active{
	color:#934295; 
	.img-active{
		display:block;
	}
	.img-default{
		display:none;
	}
}
.mobile-diamond-shape ul li img{
	border:1px solid transparent;
}
.mobile-diamond-shape ul li img.select-shape{
	border:1px solid #934295;
}
.floating-nav-confirm ul li a{
	color:#272727;
	background:#dddddd;
	border:0px;
	border-radius:5px;
	padding:10px;
}
.filter-options-btns a{
	background:white;
}
.mobile-floating-btn-container, 
.mobile-advanced-create-container{
	display:none;
}
.diamond-product-detail-mob .item{
	padding: 0px 40px 40px;
}
@media(max-width:768px){
	.mobile-create-advanced-table{
		border:0px;
	}
	.mobile-create-advanced-table td{
		padding:8px 0px !important;
	}
	#results-popover{
		display:none !important;
	}
	.floating-nav-confirm, 
	.tooltip-content, 
	.advanced-search-form, 
	.results-heading, 
	.pagination-wrap, 
	.buy-this-diamond-btn{
		display:none;
	}
	.floating-nav-confirm.active, 
	.mobile-floating-btn-container, 
	.mobile-advanced-create-container{
		display:block;
	}
	.product-detail-mob .item{
		padding:0px;
	}
	.diamond-product-detail-mob .item{
		padding:0px;
	}
	
}
@media (max-width:991px){
	.diamond-product-detail-mob .item img{
		width:260px !important;
		margin:0px auto 20px;
	}
	.diamond-details-labels span{
		font-size:12px;
	}
	.diamond-details-labels-container{
		position: absolute;
	    width: 260px;
	    height: 260px;
	    top: 0px;
	    left: 50%;
	    margin-left: -130px;
	}
	.table-label{
		top: 20px !important;
        left: 104px !important;
        width: 60px !important;
	}
	.depth-label{
		top: 125px !important;
        left: 0px !important;
	}
	.culet-label{
		top: 189px !important;
        left: 65px !important;
	}
	.girdle-label{
		top: 198px !important;
        left: 156px !important;
        width: 80px !important;
        border-radius:13px;
	}
	.depth-percent-label{
		top: 120px !important;
        left: 215px !important;
	}
	.gallerific-wrap-diamond{
		padding:0px;
	}
	.diamond-round-width-label{
		top: 127px !important;
        left: -19px !important;
        text-align: left;
        font-size: 10px !important;
        border-radius: 30px;
	}
	.diamond-round-height-label{
		top: 230px !important;
        left: 112px !important;
        font-size: 10px !important;
	}
}