@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}



/* mobile advanced create nav */

.floating-nav{
	position:fixed;
	bottom:-1px;
	padding:15px 10px;
	width:100%;
	background:#f5f5f5;
	border-top:1px solid #dddddd;
	z-index:9999;
}
.mobile-sort-search-container{
	position: fixed;
    bottom: 40px;
    padding: 30px 20px;
    background-color: #f5f5f5;
    width: 100%;
    z-index: 99;
}
.mobile-sort-search-container select{
	width:100%;
	padding:5px;
	margin:5px 0px 10px;
}
.mobile-advanced-create-container.show-filter .mobile-filter-search-container, 
.mobile-sort-search-container.show-filter{
	display:block !important;
	visibility: visible !important;
}
.mobile-filter-search-container{
	position:fixed;
	height:100%;
	width:100%;
	background:white;
	z-index:999;
	top:0px;
	padding-top:53px;
}
.mobile-filter-search-container .mobile-side-bar-nav ul li{
	display:block;
	padding: 15px 10px;
    border-bottom: 1px solid #dddddd;
    margin-right: 0px;
}
.mobile-filter-search-container .mobile-side-bar-nav{
	float:left;
	width:30%;
	height: 100%; 
    border-right: 1px solid #dddddd;
}
.mobile-filter-inner-container{
	float:left;
	width:70%;
	height:100%
}
.mobile-diamond-shape .shapes li{
	list-style: none;
    float: left;
    width: 33%;
  	padding: 10px;
  	margin: 10px 0px;
}
.mobile-advanced-create-container .floating-nav ul li{
	list-style:none;
	display:inline-block;
	margin-right:5px;
}
.mobile-filter-inner-container .mobile-tab{
	display:none;
}
.mobile-filter-inner-container .mobile-tab.active{
	display:block !important;
}
.mobile-tab .mobile-certificate{
	padding:20px 10px;
	border-bottom:1px solid #dddddd
}
.mobile-tab p{
	margin-bottom:0px;
	font-size:14px;
	font-family: "brandon_grotesquereg", sans-serif;
}
.mobile-range-container select, 
.mobile-range-container input{
	width: 35%;
  	margin: 5px 4%;
  	padding:5px;
}
.mobile-range-container{
	padding:10px;
}
.mobile-side-bar-nav ul li:first-child a img{
	width:40%;
}
.mobile-side-bar-nav ul li a{
	color:#888888;
	width: 75px;
  	display: block;
  	margin: 0px auto;
	.img-active{
		display:none;
	}
	img{
		margin:10px auto;
		width:30%;
		display:block;
	}
}
.mobile-side-bar-nav ul li a.active{
	color:#934295; 
	.img-active{
		display:block;
	}
	.img-default{
		display:none;
	}
}
.mobile-diamond-shape ul li img{
	border:1px solid transparent;
}
.mobile-diamond-shape ul li img.select-shape{
	border:1px solid #934295;
}
.floating-nav-confirm ul li a{
	color:#272727;
	background:#dddddd;
	border:0px;
	border-radius:5px;
	padding:10px;
}
.filter-options-btns a{
	background:white;
}
.mobile-floating-btn-container, 
.mobile-advanced-create-container{
	display:none;
}
@media(max-width:768px){
	.mobile-create-advanced-table{
		border:0px;
	}
	.mobile-create-advanced-table td{
		padding:8px 0px !important;
	}
	#results-popover{
		display:none !important;
	}
	.floating-nav-confirm, 
	.tooltip-content, 
	.advanced-search-form, 
	.results-heading, 
	.pagination-wrap, 
	.buy-this-diamond-btn{
		display:none;
	}
	.floating-nav-confirm.active, 
	.mobile-floating-btn-container, 
	.mobile-advanced-create-container{
		display:block;
	}
	.product-detail-mob .item{
		padding:0px;
	}
	.diamond-product-detail-mob .item{
		padding:0px;
	}
	
}
@media (min-width:415px) and (max-width:768px){
	.diamond-product-detail-mob .item img{
		width:50% !important;
		margin:0px auto;
	}
}