.product-listing-page {
	.mobile-filters {
		display: block;
	}
}

.mobile-sorting {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	padding-top: 72px;

	.form-group {
		width: 100%;
		padding: 0 15px;
	}

	.form-group select {
		width: 100%;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.product-listing-page {
		.mobile-filters {
			display: none;
		}
	}

	.mobile-sorting {
		display: none !important;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/*--------- Martino Changes for product-listing.html ---------*/

.product-filter-sidebar .block .block-body ul li label {
	text-transform: capitalize;
}

@media (min-width:361px) and (max-width:1024px){
	.product-listing-page .main-content .mobile-filters #btn-sorting, .product-listing-page .main-content .mobile-filters #btn-filter {
		font-size: 14px;
		padding: 10px 15px;
	}
	#items-per-page, #sortby {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.mobile-sorting .form-group label {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 258px;
	}
	.mobile-sorting {
		position: absolute;
		top: 490px;
	}

}


#product-filter-sidebar .price-range-block input.range-input {
	font-size: 13px;
	width: 72px !important;
}

@media (max-width: 949px) {
	.range-wrap .form-group {
		width: 208px !important;
	}
	.range-wrap .range-input {
		width: 80px;
	}
}
