/** VARIABLES **/
$purple: #9026a0;
$green: #39cca4;

/** FONTS **/
$museo-300: 'museo_sans300', sans-serif;
$museo-500: 'museo_sans500', sans-serif;
$brandon-bold: 'brandon_grotesquebold', sans-serif;
$brandon-thin: 'brandon_grotesquethin', sans-serif;
$brandon-italic: 'brandon_grotesqueMdIt', sans-serif;

/** SPACING **/
$bottom4: 4px;
$bottom8: 8px;
$bottom16: 16px;
$bottom32: 32px;
$bottom48: 48px;