@import "modules/all";
body.modal-open {
  overflow: hidden;
  position:initial !important;
}
#clarity, #clarity2 {
	display:inline-block;
	width:50px !important;
	font-size:12px;
}

#clarity3, #clarity4, #color-range3, #color-range4 {
	display:inline-block;
	width:79px !important;
	font-size:12px;
}
#color-range3, #color-range4 {
	float: left;
}

#clarity .dd-select, #clarity2 .dd-select, #color-range .dd-select, #color-range2 .dd-select {
	width:50px !important;
}

 #clarity3 .dd-select, #clarity4 .dd-select, #color-range3 .dd-select, #color-range4 .dd-select {
 	width: 79px !important;
 }

.color-separator {
	padding-left: 3px;
	padding-right: 3px;
}




.color-separator, #color-range, #color-range2 {
	float: left;
}



#color-range .dd-options, #color-range2 .dd-options {
	width: 54px !important;	
}




#color-range, #color-range2 {
	width: 50px !important;
}
.clarity-separator{
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
}
#clarity .dd-options, #clarity2 .dd-options {
	width:50px !important;
}

#clarity3 .dd-options, #clarity4 .dd-options, #color-range3 .dd-options, #color-range4 .dd-options {
	width: 79px !important;
}

form.diamond_filter{
	background:none;
}
.luxury-header{
	padding: 10px 0;
}
.luxury-header h2{
	line-height: 55px;
	font-size:24px;
}
.ldotw-buttons-container a:first-child{
	width:45% !important;
	float:right;
	background: #38caa5 !important;
}
.ldotw-buttons-container a:last-child{
	width:48% !important;
	float:left;
}
.fcf-block .g-item{
	padding:12px;
}
div#cart-popover{
	top:0px !important;
	margin-top:0px;
}
div#account-popover{
	margin-top:15px;
}
.z-contact-item{
	margin-left:0px !important;
	cursor:pointer;
}
.contact-item-popover-contents{
	display:none;
}
#contact-item-popover .arrow{
	margin-left:-3px;
}
.earrings-dd ul.sub{
	margin-left:50px;
}
.necklaces-dd ul.sub{
	margin-left:122px;
}
.bracelets-dd ul.sub{
	margin-left:281px;
}
.engagement-wedding-dd ul.sub{
	margin-left:182px;
	margin-right:auto;
}
li.gift-ideas-dd div.sub-container{
	margin-right:0px !important;
	margin-left:auto !important;
	right:0px !important;
	left:auto !important;
}
li.deals-collections-dd ul.sub{
	margin-right:88px !important;
	margin-left:auto !important;
}
#mega-menu{
	height:50px;
	border-bottom: 4px solid #ac47ad;
}
#top_header .top_secondary{
	height:47px;
}
.top_primary .search-form{
	border-radius:3px;
}
#mega-menu li.hasdropdown:hover{
	/*box-shadow: 0px 0px 1px 1px #eeeeee;*/
}
.hasdropdown .sub{
	box-shadow: 0px 2px 1px 1px #eeeeee;
}
.menu-top-line{
	position:absolute;
	width:100%;
	height:2px;
	background:#ac47ad;
	top:10px;
	left:0px;
	opacity:0;
}
.menu-bottom-line{
	position:absolute;
	width:100%;
	height:2px;
	background:#ac47ad;
	bottom:5px;
	left:0px;
	opacity:0;
}
@media (min-width:361px) and (max-width:768px){
	.luxury-header .lux-label{
		font-size:14px;
	}
	.luxury-header{
		padding:15px 0px 10px;
	}
	.fcf-block .g-item{
		padding:5px;
		font-size:11px;
	}
	table.in-cart tr .cart-img-cont{
		width: 3% !important;
	}
	table.in-cart tr td.text-center{
		text-align:right;
	}
	.coupon-container form#coupon-code input{
		width:50%;
	}
	.coupon-container form#coupon-code button{
		font-size:12px;
		padding:10px;
	}
	.coupon-container{
		text-align:center;
	}
	.checkout-button-container #btn-checkout, 
	.continue-shopping-container .btn-lg{
		width:50% !important;
		margin-bottom:10px;
	}
	.checkout-button-container, 
	.continue-shopping-container{
		text-align:center;
	}
	div.module.mod-diamond-search{
		display:block !important;
	}
	div.module.mod-diamond-search form .form-group{
		width:50% !important;
	}
	form.diamond_filter .form-group:last-child{
		margin: 0px auto;
		float: none;
	}
	form.diamond_filter .form-group:last-child button{
		width:100% !important;
	}
	.windowshade{
		padding-top:10px;
	}
	.top_primary .container{
		height:50px;
	}
	.product-grid2 .product{
		width: 38% !important;
		float: left!important;
	}
	.product-grid2 .product.grid.hidden-xs{
		display:block !important;
	}
	.product-grid2 .product{
		margin-left: 51px !important;
	}
	.product-grid2 .product.grid:last-child{
		margin-left: 75px !important;
	}
	.advanced-search-form .form-group{
		width: 45%;
		margin-right: 3%;
		float: left;
		margin-left: 2%;
	}
	.cas-pricerange-container #range-slider{
		width: 96%;
		margin-left: 2%;
		margin-top: 10px;
	}
	.cas-certificate-container label{
		margin-right:50px;
	}
	.advanced-search-wrap .advanced-results .results-heading .pull-left{
		float:left !important;
		margin-bottom: 0px;
		line-height: 38px;
	}
	.advanced-search-wrap .advanced-results .results-heading .pull-right{
		float:right !important;
	}
}
@media (max-width: 360px) {
	body.modal-open {
	  overflow: hidden;
	  position:fixed;
	}
	.advanced-search-wrap form.advanced-search-form ul.types li{
		margin: 0 6px 20px;
	}
	.cas-certificate-container label{
		margin-right:75px;
	}
	.cas-certificate-container p, .cas-pricerange-container p, .cas-caratrange-container p{
		margin-bottom:5px;
	}
	.cas-pricerange-container #range-slider{
		margin-top: 10px;
		width: 100%;
	}
	.advanced-results .results-heading a{
		font-size:12px;
	}

	/* for luxury deal of the week */

	.product-large-view .the-product .product-information .info-bd .option-block .group .block-subhead{
		display:block;
	}
	.product-large-view .the-product .product-information .info-bd .option-block .group p{
		display:inline;
	}
	.product-large-view .the-product .product-information .info-bd .option-block #metal-type, 
	.product-large-view .the-product .product-information .info-bd .option-block #metal-type .dd-select{
		width:100px !important;
	}
	.product-large-view .the-product .product-information .info-bd .option-block #metal-type{
		float:left;
	}
	.product-large-view .the-product .product-information .info-bd .option-block .link-size{
		line-height: 32px;
	}
	.product-large-view .the-product .product-information .info-bd .option-block .luxury.deal-expire{
		margin-top:10px;
	}
	.product-large-view .the-product .product-information .info-bd .option-block .luxury.deal-expire .de-time{
		margin-left:45px;
	}
	.ldotw-buttons-container a:last-child, .ldotw-buttons-container a:first-child{
		width:100% !important;
	}
	.my-account-tab td:before, .cart-summary td:before{
		width:100px;
	}
}



@media (max-width: 570px) {
	.product-grid2 .product.grid:last-child {
		margin-left: 29px !important;
	}
	.product-grid2 .product img {
		height: 204px;
	}
	.spec-separator {
		display: block;
		font-size: 12px;
		padding-left: 15px;
	}
	form.diamond_filter .form-group .sub-group input[type="text"] {
		margin-bottom: 4px !important;
	}
	.jcarousel.jcarousel-disabled ul.products-carousel li.product {
		min-height: 354px;
	}
	
}

@media (min-width:340px) and (max-width:570px){
	.mobile-sorting {
		position: fixed !important;
		top: 0 !important;
	}
}

@media (min-width:580px) and (max-width:768px) {
		/*.home-product-right .grid-image img {
			height: 280px;

		}*/

}