@import "modules/all";
body.modal-open {
  overflow: hidden;
  position:initial !important;
}
#clarity, #clarity2 {
	display:inline-block;
	width:50px !important;
	font-size:12px;
}

#clarity3, #clarity4, #color-range3, #color-range4 {
	display:inline-block;
	width:79px !important;
	font-size:12px;
}
#color-range3, #color-range4 {
	float: left;
}

#clarity .dd-select, #clarity2 .dd-select, #color-range .dd-select, #color-range2 .dd-select {
	width:50px !important;
}

 #clarity3 .dd-select, #clarity4 .dd-select, #color-range3 .dd-select, #color-range4 .dd-select {
 	width: 79px !important;
 }
.top_header2 .top_primary{
	background: #f8f8f8;
	padding:10px 0px;
}
.continue-btn-container{
	margin-top:15px;
}
.continue-btn-container ul li{
	display:inline-block;
	vertical-align: middle;
}
.header2-contact{
	color:#272727 !important;
	position:relative;
	margin-right:40px;
}
.header2-contact label{
	margin-bottom:0px;
	color:#bbbbbb;
}
.header2-contact label:hover{
	cursor:pointer;
}
.header2-contact span{
	font-weight:bold;
}
.header2-contact:before{
	content:url('../images/mobile-icon.png');
	position: absolute;
  	left: -30px;
}
.shipping-address-item{
	padding:10px;
	margin-top:20px;
}
.shipping-address-item-inner{
	padding:20px;
	background:white;
}
.shipping-address-item ul{
	padding:10px 0px;
	border-bottom: 1px solid #dddddd;
  	margin-bottom: 15px;
}
.shipping-address-item ul li{
	list-style:none;
}
.continue-btn-container a.btn-primary-gradient {
	padding: 10px 30px;
}
.shipping-items-buttons .shipping-edit-btn, 
.shipping-items-buttons .shipping-delete-btn, 
.payment-items-buttons .payment-edit-btn, 
.payment-items-buttons .payment-delete-btn{
	background:#efefef;
	color:#272727;
	padding:5px;
	width:100%;
	display: inline-block;
	border-radius:3px;
	font-weight:bold;
	font-size: 12px;
	font-family: "brandon_grotesquebold", sans-serif;
	border:1px solid #dddddd;
}
.payment-items-buttons a{
	height:auto !important;
}
.shipping-items-buttons .shipping-uta-btn, 
.payment-items-buttons .payment-uta-btn{
	padding:5px;
	width:100%;
	display:inline-block;
	margin-top:10px;
}
.addnew-payment-address{
	margin-top:0px !important;
}
.addnew-shipping-address, 
.addnew-payment-address, 
.addnew-creditcard-address{
	display:block;
	margin-top:30px;
	height:260px !important;
	background:#f5f5f5;
	border:1px solid #dddddd;
}
.addnew-shipping-address:hover, 
.addnew-payment-address:hover{
	cursor:pointer;
}
.addnew-shipping-address .plus-sign, 
.addnew-payment-address .plus-sign{
	height:50px;
	width:50px;
	position:relative;
	display:block;
	margin: 70px auto 50px;
}
.addnew-shipping-address .plus-sign:after, 
.addnew-payment-address .plus-sign:after{
	content: "";
	position:absolute;
	width:100%;
	height:4px;
	top:50%;
	left:0px;
	margin-top:-2px;
	background:#272727;
}
.addnew-shipping-address .plus-sign:before, 
.addnew-payment-address .plus-sign:before{
	content: "";
	position:absolute;
	height:100%;
	width:4px;
	left:50%;
	margin-left:-2px;
	background:#272727;
}
.addnew-shipping-address p, 
.addnew-payment-address p, 
.addnew-creditcard-address p{
	width: 80%;
  	margin: 0px auto;
  	font-family: "brandon_grotesquebold", sans-serif;
  	font-weight:bold;
  	color:#272727;
}
.add-new-shipping-address-modal, 
.add-new-payment-address-modal{
	font-family: "museo_sans300", sans-serif;
}
.add-new-shipping-address-modal .modal-dialog, 
.add-new-payment-address-modal .modal-dialog{
	max-width:550px;
}
.add-new-shipping-address-modal .shipping-info-inner input, 
.add-new-shipping-address-modal .shipping-info-inner select,
.add-new-payment-address-modal .payment-info-inner input, 
.add-new-payment-address-modal .payment-info-inner select{
	width:100%;
	padding:5px;
	margin-bottom: 15px;
	border-radius:3px;
}
.modal-footer{
	border-top:0px;
	margin-top:0px;
	padding-top:0px;
}
.creditcard-imgs img{
	margin-right:5px;
	margin-bottom:10px;
}
.add-new-shipping-address-modal .shipping-info-inner .country-input, 
.add-new-payment-address-modal .payment-info-inner .country-input{
	background:#e5e5e5;
}
.shipping-radio-btns, 
.payment-radio-btns{
	padding:10px;
	background:#efefef;
}
.shipping-radio-btns input, 
.payment-radio-btns input{
	margin-right:5px;
}
.payment-items-buttons{
	margin-top:20px;
}
.shipping-items-buttons .col-md-6, 
.shipping-items-buttons .col-md-12, 
.payment-items-buttons .col-md-6, 
.payment-items-buttons .col-md-12{
	padding:0px 5px;
}
.checkout-payment-select-cc img{
	margin-bottom:10px;
}
.checkout-payment-select-cc .block-head{
	margin-top:10px;
}
.shipping-address-item h5{
	font-weight:bold;
	font-family: "brandon_grotesquebold", sans-serif;
}
.checkout-payment-select-cc{
	background:white;
	padding:20px;
}
.checkout-payment-select-cc ul li{
	list-style:none;
	height:auto !important;
}
.add-new-creditcard-expiration-date .col-md-6{
	padding-left:0px;
}
.color-separator {
	padding-left: 3px;
	padding-right: 3px;
}
.featured-product-inner{
	position:relative;
}
.featured-product-inner h2{
	background: rgba(0,0,0,.7);
	color: white;
	padding: 10px;
	font-size: 18px;
	position: absolute;
	font-family: "brandon_grotesquebold", sans-serif;
	width: 100%;
}
.featured-product-inner h2:hover{
	background: rgba(157, 84, 168, 0.6) !important;
}
.featured-product-inner img{
	width:100%
}
.featured-product-container .col-xs-6{
	margin-bottom:30px;
}
.product-tabs .nav-tabs{
	margin-top:40px;
}
.hidden-clearfix, .flexslider-loader{
	display:none;
}
.add-new-shipping-mobile-btn, 
.add-new-creditcard-mobile-btn{
	display:none;
	background:#eeeeee;
	padding:5px;
}
.checkout-paypal-title .checkout-paypal-title-text{
	display:none;
}
.module .mod-bd > img{
	width:100%;
}
.single-customer-review{
	padding:20px 0px 10px;
	border-bottom: 1px solid #ccc;
}
.product-reviews-view-more{
	padding:20px 0px 0px;
}
.product-reviews-view-more a{
	cursor:pointer;
}
.single-customer-review h5{
	margin-bottom:5px;
}
.products .product{
	min-height:350px;
}
.apply-gift-certificate, 
.send-order-as-gift{
	background-color: #efefef;
    padding: 20px;
    margin-bottom:20px;
}
.apply-gift-certificate p, 
.send-order-as-gift p{
	margin-bottom:5px;
}
.apply-gift-certificate input{
	width:100%;
	border-radius: 3px;
		border: 1px solid #c8c8c8;
		padding: 3px;
}
.apply-gift-certificate button{
	width:100%;
	padding:5px;
	font-family: "brandon_grotesquebold", sans-serif;
	margin-top:5px;
}
.shipping-modal-checkbox input{
	width:5% !important;
}
img.paypal-btn{
	background:none;
	width:auto;
}
@media(min-width:1200px){
	body.load-control .flexslider-container{
		height:420px;
	}
	body.load-control .featured-product-container .col-md-4.col-sm-6{
		height:350px;
	}
	body.load-control .preset-diamond-container, 
	body.load-control .birthstone-jewel-container{
		height: 426px;
	}
	body.load-control .flexslider-loader{
		display:block;
		position:absolute;
		top:60%;
		left:50%;
		transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
	}
	body.load-control .product-banner {
		height: 267px;
	}
	body.load-control .product-grid2 {
		height: 480px;
	}
	body.load-control .product-grid3 {
		height: 322px;
	}
}
@media(max-width:415px){
	body.load-control .flexslider-container{
		height:163px;
		position:relative;
	}
	body.load-control .flexslider-loader{
		display:block;
		position:absolute;
		top:60%;
		left:50%;
		transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
	}
	body.load-control .featured-product-container .col-md-4.col-sm-6, 
	body.load-control .preset-diamond-container{
		height:163px;
	}

	body.load-control .product-banner {
		height: 96px;
	}
	body.load-control .product-grid2 {
		height: 620px;
	}
	body.load-control .product-grid3 {
		height: 452px;
	}


}
@media(min-width:1024px) and (max-width:1199px){
	body.load-control .flexslider-container{
		height:420px;
	}
	body.load-control .featured-product-container .col-md-4.col-sm-6{
		height:283pxpx;
	}
	body.load-control .preset-diamond-container, 
	body.load-control .birthstone-jewel-container{
		height: 346px;
	}
	body.load-control .flexslider-loader{
		display:block;
		position:absolute;
		top:60%;
		left:50%;
		transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
	}
	body.load-control .product-banner {
		height: 267px;
	}
	body.load-control .product-grid2 {
		height: 480px;
	}
	body.load-control .product-grid3 {
		height: 322px;
	}
}
@media(min-width:950px) and (max-width:993px){
	.top_secondary #main_nav li a{
		font-size:10px;
		padding:0px 5px;
	}
	.windowshade-promo div.main-content{
		width:100%;
	}

}
@media(min-width:769px) and (max-width:850px){
	.product-large-view .the-product .gallerific-wrap #gal1, #gal1.animate{
		width:390px !important;
	}
	
}
@media(min-width:768px){
	.the-product.row.set{
		min-height:855px;
	}

}
@media(min-width:769px) and (max-width:949px){
	.windowshade{
		padding-top: 11px;
	}
	#top_header, .top_primary .container{
		background: #f8f8f8;
	}
	.windowshade-promo div.main-content{
		width:100% !important;
	}
	.stage.hidden-xs{
		width: 236px;
		margin:100px;
	}
	#gal1.snap{
		top: 630px !important;
	}
	#gal1.animate{
		top:430px;
	}
	.top_secondary #main_nav li a{
		font-size:10px;
		padding:0px 5px;
	}
	.product-large-view .the-product .gallerific-wrap #gal1, #gal1.animate{
		width:420px;
	}
}
@media(min-width:950px) and (max-width:1199px){
	.stage.hidden-xs{
		margin: 30px 100px 0px;
	}
	.stage.hidden-xs.animate, .stage.hidden-xs{
		width: 255px;
	}
	.product-large-view .the-product .gallerific-wrap #gal1, #gal1.animate{
		width:475px;
	}
	.product-large-view .the-product .gallerific-wrap .stage{
		margin-top:100px;
	}
	#gal1.snap{
		top:700px !important;
	}
	#gal1.animate{
		top:500px;
	}
	.product-large-view .the-product .gallerific-wrap #gal1 a{
		width:20%;
	}
}
@media(min-width:769px) and (max-width:950px){
	.shipping-modal-checkbox{
		margin-top:20px;
	}
	.continue-shopping-link.header2{
		margin-right: 20px;  
		margin-top: 23px;  
		font-size: 12px;
		display:block !important;
	}
	.top_header2 .top_primary{
		display:none;
	}
	.mobile-checkout-header{
		display:block !important;
	}
	.continue-shopping-mobile-btn{
		margin-top:10px;
		padding:10px;
		border:0px;
		margin-right:5px;
	}
	.mobile-checkout-header{
		display:block;
		position: absolute;
  		top: 0px;
  		height: 60px;
  		width: 100%;
  		background: #f8f8f8;
  		left:0px;
	}
	.mobile-checkout-header > a > img{
		margin-top:20px;
		margin-left:20px;
	}
	.mobile-checkout-header .header-contact-icon{
		right: 180px;
  		left: auto;
  		margin-top:5px;
  		display: block;
		position: absolute;
		top: 8px;
		z-index: 1000;
	}
	.mobile-checkout-header .glyphicon-earphone{
		display:none;
	}
}
@media(min-width:769px) and (max-width:990px){
	.preset-diamond-container{
		padding:0px 15px;
	}
}
@media(max-width:990px){
	.hidden-clearfix{
		display:block;
	}
}
@media(min-width:991px){
	.birthstone-jewel-container{
		float: left;
		width: 40%;
		padding: 0px 15px;
	}
	.preset-diamond-container{
		float: left;
		width: 60%;
		padding:0px 15px;
	}

	
}
@media(max-width:768px){
	.shipping-modal-checkbox{
		margin-top:20px;
	}
	.proceed-btn-container{
		text-align:center;
	}
	.proceed-btn-container a{
		width:96% !important;
	}
	.block.shipping-options-container{
		margin:15px;
	}
	.font-options div, 
	.name-initial-inputs div input, 
	.engrave-footer-options .btn-primary-gradient, 
	.engrave-footer-options .btn-gray{
		width:100%;
	}
	.engrave-footer-options .btn-primary-gradient, 
	.engrave-footer-options .btn-gray{
		margin-bottom:10px;
	}
	.font-options > div{
		margin-bottom:20px;
	}
	.font-options > div > p{
		margin-bottom:10px;
	}
	.font-options > div > input{
		margin-top:10px !important;
	}
	#cart-summary{
		margin-bottom:40px;
	}
	.row-item-container{
		clear:both;
	}
	
	.item-total-price-review{
		float:right;
		margin:0px !important;
	}
	.item-total-price-review p{
		float:none !important;
	}
	.review-shipping-options{
		background:#efefef;
		padding:10px;
		margin-bottom:20px;
		font-size:12px;
	}
	.review-shipping-options .offer{
		color:red;
	}
	.checkout .payment-review .sm-blocks{
		height:auto !important;
	}
	.review-items{
		background:white !important;
		padding:0px !important;
	}
	.review-items .block-head, 
	.hidden-xs .addnew-shipping-address{
		display:none;
	}
	.checkout-paypal-title span{
		display:block !important;
	}
	.preset-diamond-container{
		width:100%;
	}
	.mob-hidden-title, 
	.checkout-paypal-title img{
		display:none;
	}
	.featured-product-inner h2{
		text-align:center;
	}
	.birthstone-jewel-container{
		width:50%;
	}
	.preset-diamond-container{
		padding:0px 15px;
	}
	.add-new-shipping-mobile-btn, 
	.add-new-creditcard-mobile-btn{
		display:block;
	}
	.add-new-shipping-mobile-btn .addnew-shipping-address, 
	.add-new-creditcard-mobile-btn .addnew-creditcard-address{
		margin-top:0px;
		height:auto !important;
		padding:10px;
	}
	.add-new-shipping-mobile-btn .addnew-shipping-address .plus-sign, 
	.add-new-creditcard-mobile-btn .addnew-creditcard-address .plus-sign{
		display:none;
	}
	.checkout-mobile-shipping, 
	.checkout-payment .main-content{
		padding:0px;
	}
	.checkout-mobile-shipping .block, 
	.checkout-payments-section .tab-content{
		background:white;
		padding:0px 15px 20px;
		margin-top:0px;
	}
	.shipping-options-container{
		background:#efefef !important;
	}
	.checkout-payments-section{
		margin:0px;
	}
	.checkout-payments-section > .col-md-12 .tab-pane.clearfix, 
	.checkout-payments-section > .col-md-12 .tab-pane.clearfix .col-md-4{
	 	padding:0px;
	}
	.checkout-mobile-shipping .shipping-address-item{
		padding:0px;
	}
	.checkout-mobile-shipping .shipping-address-item-inner, 
	.checkout-payment-select-cc{
		background:#efefef;
		border:1px solid #dddddd;
	}
	.continue-btn-container, .top_header2 .top_primary{
		display:none;
	}
	.continue-shopping-mobile-btn{
		margin-top:10px;
		padding:10px;
		border:0px;
		margin-right:5px;
	}
	.checkout-payments-section .payment-nav-tabs{
		margin-top:20px;
	}
	.checkout-payments-section .tab-content .tab-pane > .block-head, 
	.checkout-payment-select-cc > img{
		display:none;
	}
	.checkout-payments-section .payment-nav-tabs li.active a{
		background:none;
		color:#ac47ad;
	}
	.checkout-payments-section .payment-nav-tabs li a{
		background:none;
	}
}
@media (min-width:416px) and (max-width:630px){
	.featured-product-inner h2{
		font-size: 14px;
		text-align:center;
	}
}
@media (max-width:415px){
	.featured-product-container .col-xs-6{
		margin-bottom:10px;
	}
	.featured-product-container .col-xs-6, 
	.preset-diamond-container{
		padding: 0px 5px; 
	}
	.featured-product-inner h2{
		font-size: 10px;
		text-align:center;
	}
	.featured-product-container .col-sm-7{
		padding: 0px 5px;
		margin-top: 10px;
	}
	.birthstone-jewel-container{
		width:50%;
		padding: 0px 5px; 
	}
	
}



.color-separator, #color-range, #color-range2 {
	float: left;
}



#color-range .dd-options, #color-range2 .dd-options {
	width: 54px !important;	
}




#color-range, #color-range2 {
	width: 50px !important;
}
.clarity-separator{
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
}
#clarity .dd-options, #clarity2 .dd-options {
	width:50px !important;
}

#clarity3 .dd-options, #clarity4 .dd-options, #color-range3 .dd-options, #color-range4 .dd-options {
	width: 79px !important;
}

form.diamond_filter{
	background:none;
}
.luxury-header{
	padding: 10px 0;
}
.luxury-header h2{
	line-height: 55px;
	font-size:24px;
}
.ldotw-buttons-container a:first-child{
	width:45% !important;
	float:right;
	background: #38caa5 !important;
}
.ldotw-buttons-container a:last-child{
	width:48% !important;
	float:left;
}
.fcf-block .g-item{
	padding:12px;
}
div#cart-popover{
	top:0px !important;
	margin-top:0px;
}
div#account-popover{
	margin-top:15px;
}
.z-contact-item{
	margin-left:0px !important;
	cursor:pointer;
}
.contact-item-popover-contents{
	display:none;
}
#contact-item-popover .arrow{
	margin-left:-3px;
}
.earrings-dd ul.sub{
	margin-left:50px;
}
.necklaces-dd ul.sub{
	margin-left:122px;
}
.bracelets-dd ul.sub{
	margin-left:281px;
}
.engagement-wedding-dd ul.sub{
	margin-left:182px;
	margin-right:auto;
}
li.gift-ideas-dd div.sub-container{
	margin-right:0px !important;
	margin-left:auto !important;
	right:0px !important;
	left:auto !important;
}
li.deals-collections-dd ul.sub{
	margin-right:88px !important;
	margin-left:auto !important;
}
#mega-menu{
	height:50px;
	border-bottom: 4px solid #ac47ad;
}
#top_header .top_secondary{
	height:47px;
}
.top_primary .search-form{
	border-radius:3px;
}
#mega-menu li.hasdropdown:hover{
	/*box-shadow: 0px 0px 1px 1px #eeeeee;*/
}
.hasdropdown .sub{
	box-shadow: 0px 2px 1px 1px #eeeeee;
}
.menu-top-line{
	position:absolute;
	width:1%;
	height:2px;
	background:#ac47ad;
	top:10px;
	left:0px;
	opacity:0;
	/*transition:.5s opacity ease;
	-webkit-transition:.5s opacity ease;
	-moz-transition:.5s opacity ease;*/
}
.menu-bottom-line{
	position:absolute;
	width:1%;
	height:2px;
	background:#ac47ad;
	bottom:5px;
	left:0px;
	opacity:0;
	/*transition:.5s opacity ease;
	-webkit-transition:.5s opacity ease;
	-moz-transition:.5s opacity ease;*/
}
.popover{
	z-index:999999;
}
.continue-shopping-link.header2{
	display:none;
}
@media(min-width:500px) and (max-width:768px){
	div.module.mod-diamond-search form .form-group{
		width:50% !important;
	}
}
@media (min-width:361px) and (max-width:768px){
	.luxury-header .lux-label{
		font-size:14px;
	}
	.luxury-header{
		padding:15px 0px 10px;
	}
	.fcf-block .g-item{
		padding:5px;
		font-size:11px;
	}
	table.in-cart tr .cart-img-cont{
		width: 3% !important;
	}
	table.in-cart tr td.text-center{
		text-align:right;
	}
	/*.coupon-container form#coupon-code input{
		width:50%;
	}*/
	.coupon-container form#coupon-code button{
		font-size:12px;
		padding:10px;
	}
	.coupon-container{
		text-align:center;
	}
	.checkout-button-container #btn-checkout, 
	.continue-shopping-container .btn-lg{
		width:50% !important;
		margin-bottom:10px;
	}
	.checkout-button-container, 
	.continue-shopping-container{
		text-align:center;
	}
	div.module.mod-diamond-search{
		display:block !important;
	}
	form.diamond_filter .form-group:last-child{
		margin: 0px auto;
		float: none;
	}
	form.diamond_filter .form-group:last-child button{
		width:100% !important;
	}
	.windowshade{
		padding-top:10px;
	}
	.top_primary .container{
		height:50px;
	}
	.product-grid2 .product{
		/*float: left!important;
		width: 48.916667% !important;
		margin: 0 2.0416666666666665% 20px 0px !important;*/
	}
	.product-grid2 .product.grid.hidden-xs{
		display:block !important;
	}
	.product-grid2 .product{
		/*margin-left: 51px !important;*/
	}
	.product-grid2 .product.grid:last-child{
		/*margin-left: 75px !important;*/
	}
	.advanced-search-form .form-group{
		width: 45%;
		margin-right: 3%;
		float: left;
		margin-left: 2%;
	}
	.cas-pricerange-container #range-slider{
		width: 96%;
		margin-left: 2%;
		margin-top: 10px;
	}
	.cas-certificate-container label{
		margin-right:50px;
	}
	.advanced-search-wrap .advanced-results .results-heading .pull-left{
		float:left !important;
		margin-bottom: 0px;
		line-height: 38px;
	}
	.advanced-search-wrap .advanced-results .results-heading .pull-right{
		float:right !important;
	}
}
@media (max-width: 360px) {
	body.modal-open {
	  overflow: hidden;
	  position:fixed;
	}
	.advanced-search-wrap form.advanced-search-form ul.types li{
		margin: 0 6px 20px;
	}
	.cas-certificate-container label{
		margin-right:75px;
	}
	.cas-certificate-container p, .cas-pricerange-container p, .cas-caratrange-container p{
		margin-bottom:5px;
	}
	.cas-pricerange-container #range-slider{
		margin-top: 10px;
		width: 100%;
	}
	.advanced-results .results-heading a{
		font-size:12px;
	}

	/* for luxury deal of the week */

	.product-large-view .the-product .product-information .info-bd .option-block .group .block-subhead{
		display:block;
	}
	.product-large-view .the-product .product-information .info-bd .option-block .group p{
		display:inline;
	}
	.product-large-view .the-product .product-information .info-bd .option-block #metal-type, 
	.product-large-view .the-product .product-information .info-bd .option-block #metal-type .dd-select{
		width:100px !important;
	}
	.product-large-view .the-product .product-information .info-bd .option-block #metal-type{
		float:left;
	}
	.product-large-view .the-product .product-information .info-bd .option-block .link-size{
		line-height: 32px;
	}
	.product-large-view .the-product .product-information .info-bd .option-block .luxury.deal-expire{
		margin-top:10px;
	}
	.product-large-view .the-product .product-information .info-bd .option-block .luxury.deal-expire .de-time{
		margin-left:45px;
	}
	.ldotw-buttons-container a:last-child, .ldotw-buttons-container a:first-child{
		width:100% !important;
	}
	.my-account-tab td:before, .cart-summary td:before{
		width:100px;
	}
}
.mob-shipping-addres-selector, 
.mobile-modal-content, 
.mobile-checkout-header, 
.mob-payment-cc-selector{
	display:none;
}
.alternative-checkout button{
	margin-top:10px !important;

}
.alternative-checkout h5{
	margin-top:30px;
	font-weight:bold;
}
.paypal-btn{
	background:url('../images/paypal.png');
	float: left;
    width: 48%;
    height: 48px;
    background-size: 100%;
    background-repeat:no-repeat;
    border: 0px;
}
.amazon-btn{
	background:url('../images/amazon.png');
	background-repeat:no-repeat;
    background-size: 100%;
    border: 0px;
    float: right;
  	width: 45%;
  	height: 48px;
}
@media (max-width: 768px) {
	.paypal-btn{
		width: 80%;
	    height: 45px;
	    float:none;
	}
	.amazon-btn{
		width: 80%;
	    height: 60px;
	    float:none;
	}
	.mycart-total-price-mob{
		position: fixed;
  		bottom: 0px;
  		height: 50px;
  		background: white;
  		width: 100%;
  		z-index: 99;
  		border-top: 1px solid #dddddd; 
  		line-height: 20px;
	}
	.subtotal-container-mob{
		margin-top:5px;
		margin-right:10px;
	}
	.subtotal-container-mob label:first-child{
		margin-bottom: 0px;
  		font-size: 12px;
	}
	.subtotal-container-mob label:last-child{
		display: block;
  		font-size: 24px;
  		color:#DE506E;
	}
	.mycart-total-price-mob a{
		background:#39CBA6;
		padding:10px 20px;
		color:white;
		border:0px;
		border-radius:3px;
		margin-top:5px;
		margin-right:10px;
	}
	.product-grid2 .product{
		/*float: left!important;
		width: 48.916667% !important;
		margin: 0 2.0416666666666665% 20px 0px !important;*/
	}
	.shipping-address-item{
		position:relative;
	}
	.mob-shipping-addres-selector, 
	.mob-payment-cc-selector{
		  display: block;
		  position: absolute;
		  height: 20px;
		  width: 20px;
		  background: white;
		  border-radius: 50%;
		  padding: 5px;
	}
	.shipping-address-item.active-address .mob-shipping-addres-selector span, 
	.checkout-payment-select-cc.active-cc .mob-payment-cc-selector span{
		  width: 100%;
		  height: 100%;
		  background: #272727;
		  display: inline-block;
		  border-radius: 50%;
		  vertical-align: top;
	}
	.shipping-address-item .shipping-address-item-inner{
		transition:.5s all ease;
	    -webkit-transition:.5s all ease;
	    -moz-transition:.5s all ease;
	}
	.shipping-address-item.active-address .shipping-address-item-inner{
		height:225px !important;
		transition:.5s all ease;
	    -webkit-transition:.5s all ease;
	    -moz-transition:.5s all ease;
	}
	.shipping-address-item .shipping-address-item-inner h5, 
	.shipping-address-item .shipping-address-item-inner ul{
		padding-left:40px
	}
	.shipping-address-item .shipping-address-item-inner ul{
		border-bottom:0px;
	}
	.shipping-address-item .shipping-address-item-inner{
		overflow:hidden;
		height:160px;
	}
	.shipping-address-item .shipping-uta-btn, 
	.payment-uta-btn{
		background:#39cba4 !important;
	}
	.shipping-items-buttons .shipping-edit-btn, 
	.shipping-items-buttons .shipping-delete-btn, 
	.payment-items-buttons .payment-edit-btn, 
	.payment-items-buttons .payment-delete-btn{
		background:#f3f3f3 !important;
	}
	.checkout-mobile-shipping .checkout-cart-info{
		display:none;
	}
	.shipping-radio-btns label{
		margin-top:0px !important;
		width:auto !important;
	}
	.mobile-modal-content{
		display:block;
		text-align: center;
  		padding: 10px 5px;
  		background: #efefef;
	}
	.mobile-modal-content button{
		width: 48%;
		padding:10px;
		border-radius:3px;
	}
	.mobile-modal-content .address-mobile-btn{
		background:#f3f3f3;
		border:1px solid #dddddd;
	}
	.mobile-modal-content .mobile-save-address{
		background:#39cba4;
		border:1px solid #39cba4;
		color:white;
	}
	.mobile-checkout-header{
		display:block;
		position: absolute;
  		top: 0px;
  		height: 60px;
  		width: 100%;
  		background: #f8f8f8;
  		left:0px;
	}
	/*.checkout-payment .page-header, 
	.checkout-shipping-container .page-header{
		text-align:center;
	}*/
	.mobile-checkout-header .header-contact-icon{
  		left: 110px;
  		margin-top:5px;
	}
	.continue-shopping-link.header2{
		margin-right: 20px;  
		margin-top: 23px;  
		font-size: 12px;
		display:block;
	}
	.mobile-checkout-header > a > img{
		margin-top:20px;
		margin-left:20px;
	}
	
	.checkout-mobile-shipping .row > .col-md-12{
		padding:0px;
	}
	.checkout-mobile-shipping .create-steps, 
	.checkout-payment .create-steps, 
	.col-md-4 .addnew-payment-address.text-center{
		display:none !important;
	}
	.checkout-mobile-shipping .page-header{
		padding-left:20px;
	}
	.checkout-payment-select-cc{
		margin-bottom:20px;
		height:255px;
		overflow:hidden;
		transition:.5s all ease;
	    -webkit-transition:.5s all ease;
	    -moz-transition:.5s all ease;
	    position:relative;
	}
	.checkout-payment-select-cc.active-cc{
		height:315px;
	}
	.mob-payment-cc-selector{
		position:absolute;
	}
	.checkout-payment-select-cc > h5, 
	.checkout-payment-select-cc > span, 
	.checkout-payment-select-cc > h2, 
	.checkout-payment-select-cc > ul{
		margin-left:40px !important;
	}
	.checkout-payment-select-cc > h2.block-head{
		padding: 5px 0 !important;
  		margin-bottom: 10px !important;
  		border-bottom:0px !important;
	}
}

@media (max-width: 570px) {
	.product-grid2 .product.grid:last-child {
		/*margin-left: 29px !important;*/
	}
	.product-grid2 .product img {
		/*height: 204px;*/
	}
	.spec-separator {
		display: block;
		font-size: 12px;
		padding-left: 15px;
	}
	form.diamond_filter .form-group .sub-group input[type="text"] {
		margin-bottom: 4px !important;
	}
	.jcarousel.jcarousel-disabled ul.products-carousel li.product {
		min-height: 354px;
	}
	
}

@media (min-width:340px) and (max-width:570px){
	.mobile-sorting {
		position: fixed !important;
		top: 0 !important;
	}
}

@media (min-width:580px) and (max-width:768px) {
		/*.home-product-right .grid-image img {
			height: 280px;

		}*/

}
@media(max-width:480px){
	.product-grid2 .product {
		width: 100% !important;
		margin: 0 !important;
		margin-bottom: 20px !important;
	}
	.product-grid3 .product {
		width: 49.08%;
		margin: 0 1.8416666666666665% 20px 0px;
	}
	.product-grid3 .product:nth-child(2) {
		margin-right: 0 !important;
	}
	.product-grid3 .product:last-child{
		/*margin-right: 51px !important;*/
		width: 100% !important;
		margin: 0 !important;
	}
}

